<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.thecatapi.imagesapitests.TC_GetImages"/>
      <class name="com.thecatapi.imagesapitests.TC_GetImageById"/>
      <class name="com.thecatapi.imagesapitests.TC_UploadImage"/>
      <class name="com.thecatapi.imagesapitests.TC_GetUploadedImage"/>
      <class name="com.thecatapi.imagesapitests.TC_DeleteImage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
